:root {
	--main-bg: #2e3440;
	--timer-fg: #d8dee9;
	--timer-running: #81a1c1;
	--select-div-fg: #eceff4;
	--error: #bf616a;
	--result-fg: #eceff4;
	--character: #d8dee9;
	--correct: #a3be8c;
	--dash: #ebcb8b;
}

body {
	background: var(--main-bg);
}

#timer {
	font-family: monospace;
	font-size: 48px;
	color: var(--timer-fg);
}

#words {
	font-family: monospace;
	font-size: 24px;
	overflow: hidden;
	height: 100px;
	min-width: 800px;
	margin: 0 auto;
	background: var(--main-bg);
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#resultDiv {
	font-family: monospace;
	font-size: 36px;
	overflow: hidden;
	height: 100px;
	color: var(--result-fg);
	margin: 0 auto;
	background: var(--main-bg);
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#selectDiv {
	font-family: monospace;
	font-size: 36px;
	overflow: hidden;
	height: 250px;
	color: var(--select-div-fg);
	margin: 0 auto;
	background: var(--main-bg);
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

character {
	white-space: pre;
	color: var(--character);
}

.correct {
	color: var(--correct);
}

#timer.running {
	color: var(--timer-running);
}

.error {
	color: var(--error);
}

.active {
	border-bottom: 2px dashed var(--dash);
}

.displaynone {
	display: none;
}

p.small {
	margin-top: -25px;
	font-size: 14px;
}

button,
input {
	outline: none;
	border: none;
	height: 25px;
}
